
ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
.a{
  color: red;
  text-align: center;
}
.b{
  color: black;
  text-align: center;
}
.c{
  color: green;
  text-align: center;
}
.d{
  color: yellow;
  text-align: center;
}
.e{
  color:black;
  text-align: center;
}

/* Write your CSS below, don't change the rules above. */
