.mang{
    
    margin-top: 60px;
    display: flex;
    justify-content: center;
    border: 10px solid white;
    width: 700px;

}
body{
    background-color: black;
    
}
h1{
    color: white;
    
}
p{
    color: white;
}